@tailwind base;
@tailwind components;
@tailwind utilities;




nav ul li {

    @apply px-2
}

.toggle-menu a{
   @apply w-fit py-0 text-xl font-medium 
   border border-transparent active:border-b-black  
}

.hero-sec2-div{
   @apply p-2 h-fit md:w-[80%]  rounded-lg shadow-md animation  md:shadow-sm 
}

.border-radius{
   /* border-top-left-radius: 20px;
   border-top-right-radius: 20px; */
   border-radius: 80%;

   
}

.bg-sec2{
  /* background-color:  rgba(2, 3, 1, 0.5); */
}

.animation{
   animation-name: zoom;
   animation-duration: 1s;
   opacity: 0;
   animation-fill-mode: forwards;
}

@keyframes zoom {
   0% {
       transform: scale(0);
       opacity: 0;
   }

   100% {
       transform: scale(1);
       opacity: 1;
   }

}

