@tailwind base;
@tailwind components;
@tailwind utilities;




nav ul li {

    @apply px-2
}

.toggle-menu a{
   @apply w-fit py-0 text-xl font-medium 
   border border-transparent active:border-b-black  
}

.hero-sec2-div{
   @apply p-2 h-fit md:w-[80%]  rounded-lg shadow-md animation  md:shadow-sm 
}
/* bg-[#c0de89] */
/*  */

.about{
   @apply  rounded-lg p-2 shadow-sm animation  transition delay-75  hover:bg-red-100
}
.about h1{
   @apply text-3xl font-medium  text-[#4831d4]
}

.animation{
   animation-name: zoom;
   animation-duration: 1s;
   opacity: 0;
   animation-fill-mode: forwards;
   
}

@keyframes zoom {
   0% {
       transform: scale(0);
       opacity: 0;
   }

   100% {
       transform: scale(1);
       opacity: 1;
   }

}



/*transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 */