@tailwind base;
@tailwind components;
@tailwind utilities;




nav ul li {

    @apply px-2
}

.toggle-menu a{
   @apply w-fit py-0 text-xl font-medium 
   border border-transparent active:border-b-black  
}

.hero-sec2-div{
   @apply p-2 h-fit md:w-[80%]  rounded-lg shadow-md animation  md:shadow-sm 
}
/* bg-[#c0de89] */
/*  */

.about{
   @apply  rounded-lg p-2 shadow-sm animation  transition delay-75  hover:shadow-xl hover:bg-[#4831d4] 
}
.about h1{
   @apply text-3xl font-medium  text-[#000000] transition delay-75
}
.about p{
   @apply text-[#333333] transition delay-75
}

.animation{
   animation-name: zoom;
   animation-duration: 1s;
   opacity: 0;
   animation-fill-mode: forwards;
   
}

@keyframes zoom {
   0% {
       transform: scale(0);
       opacity: 0;
   }

   100% {
       transform: scale(1);
       opacity: 1;
   }

}

.skill-item{
   @apply border border-gray-400 flex flex-col items-center py-5 rounded-md hover:text-white  hover:font-medium bg-white

   
}
.skill-item{
   transition: all 0.4s ease;
}
.skill-item:hover {
   transform: translateY(-5px); /* Move box up slightly on hover */
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
   background-color: #4F439A; /* Darken background color on hover */
}
.skill-item:hover i {
   transition:all 0.4s ease;
}
.skill-item:hover i {
   transform: scale(1.2); /* Scale up icon on hover */
}

.firebase{
   @apply col-span-2 md:col-span-4
}
.button{
   @apply  px-1.5 py-1.5 text-xs md:text-sm grow text-white rounded-md mb-2 transition delay-75
}
.project{
   @apply  md:p-5 md:bg-pink-100 
   md:rounded-2xl
}
.project-overflow{
   @apply  hidden md:block absolute top-0 left-0 overflow-hidden whitespace-normal text-center h-full bg-white w-full text-sm rounded-lg px-3 md:flex items-center opacity-0 group-hover:opacity-95 transition duration-300 ease-in-out group-hover:scale-110
}
.resume-download-button{
   @apply bg-[rgb(255,216,20)] px-6 py-1 rounded font-medium hover:bg-[rgb(245,205,3)] active:opacity-80 text-sm w-full
}

.contact p{
   @apply text-xs text-center md:text-xl text-[#3d155f]
}

html{
   scroll-behavior: smooth;
}